@model BioRec___Empleados.Models.Proveedor_Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proveedor_Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costoPorUnidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costoPorUnidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.nombreProveedor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idProveedor_Producto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
