@model BioRec___Empleados.Models.RegistroProveedorViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegistroProveedorViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoVia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoVia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroVia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroVia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroViaSecundario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroViaSecundario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroCasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroCasa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoInmueble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoInmueble)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroInmueble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroInmueble)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.departamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pais)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idProveedor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
